/*
make three boxes for left, center and right inside a flex container then position them. It's easier to make the center to be in the true center.
 */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    width: 100%;
    background-color: #c1c1c1;
    display: flex;
    /*flex-wrap: wrap;*/
    /*align-items: center;*/
    justify-content: center;
}

.box {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.flex-left {
    /*width: 33%;*/        /* use both width 33% without flex: 1 in .box */
    justify-content: flex-start;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    font-weight: bolder;
    padding: .2em 0;
    margin: 0 auto;
}

.flex-right {
    /*width: 33%;*/       /* use both width 33% without flex: 1 in .box */
    justify-content: flex-end;
}

nav a {
    height: 100%;
    font-family: 'Work Sans', sans-serif;
    color: black;
    font-weight: 700;
    text-decoration: none;
    padding: 1.85em 0.85em;
    display: inline-block;
}

a:hover {
    color: blue;
    background-color: aliceblue;

}

p {
    text-align: center;
}