* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.flex-boundary {
    display: flex;
    width: 100%;
    background-color: #c1c1c1;
}

.flex-link-container {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    list-style: none;
}

nav a {
    font-family: 'Work Sans', sans-serif;
    color: black;
    font-weight: 900;
    text-decoration: none;
    padding: 1.1em .5em;
    display: inline-block;
}

a:hover {
    color: blue;
    background-color: aliceblue;
}

ul li:nth-of-type(4) {
    margin-right: auto;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    font-weight: bolder;
    padding: .2em 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
