* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: grey;
    font-size: .75em;
}

footer {
    background-color: #131313;
    display: flex;
    flex-direction: column;
}

ul, p, a {
    color: grey;
}

.fa {
    font-size: 1.5em;
}

.container {
    margin: 5% 5% 2em 5%;
    color: white;
    font-family: "Montserrat", sans-serif;
}

a:hover {
    color: #3B94D9;
}

/* -------------------- top footer styling ---------------------- */

footer > .top-footer {
    display: flex;
    /*flex: 1 1 auto;*/
    justify-content: space-between;
}

/* ----------------- top center footer styling ------------------- */

footer .top-footer .top-left {
    width: 33%;

}

footer .top-footer .top-center {
    width: 33%;
    padding-right: 7%;
}

footer .top-footer .top-right {
    width: 33%;
}

/* ----------------- top right footer styling ------------------- */

footer .top-footer .top-right a {
    display: inline-block;
    padding: 0 1em 1em 0;
}

footer .top-footer .top-right #email {
    width: 75%;
    min-width: 20em;
    height: 3.6em;
    border-radius: 1.8em;
    padding: .3em 1em;
    margin: .8em 0;
    font-size: 1em;
    color: #cccccc;
    background-color: black;
}

footer .top-footer .top-right button {
    width: 8em;
    height: 3.6em;
    border: 0;
    border-radius: 1.8em;
    color: white;
    background-color: #949495;
}

/* ------------------ bottom footer styling -------------------- */

footer > .bottom-footer {
    background-color: #333333;
    padding: 2em 0;
    margin: 0;
    display: flex;
}

footer .bottom-footer ul {
    list-style: none;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

footer .bottom-footer ul a {
    padding: 1em;
    text-decoration: none;
}

footer .bottom-footer ul li:nth-of-type(6) {
    margin-left: auto;
}