* {
    box-sizing: border-box;
}

/* default: Small devices (phones and pocket devices) */

body {
    width: calc(100% - 20px);
    height: 100vh;
    margin: 10px;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
}

/* ------------------ top blue box styling ------------------ */

.alert-info {
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: 10px;
    text-align: center;
    padding: 10px 0;
    border: 2px solid #cccccc;
    background-color: #ccffff;
}

.alert-info a {
    color: black;
    text-decoration: none;
}

h1 {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 10px;
}

/* ------------------ nav styling ------------------ */

nav .nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

nav .nav-links li {
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #cccccc;
}

h2 {
    margin-bottom: 5px;
}

.sub-section {
    font-style: italic;
}

.sub-section h2 {
    font-size: 1.25em;
}

.header-img img {
    width: 100%;
}

/* ------------------ footer styling ------------------ */

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

hr {
    width: 100%;
    height: 1px;
    background-color: #cccccc;
    border: none;
    margin: 0 auto;
}

footer p {
    margin: 8px 0;
}

footer #social-media-links a {
    color: black;
    padding: 0 5px;
}

/* Large devices (desktops, 768px and up) */

@media screen and (min-width:768px) {
    body {
        display: block;
    }

    .hidden-on-desktop {
        display: none;
    }

    h1 {
        position: absolute;
        top: .4em;
        font-size: 3em;
        text-align: left;
    }

    h2 {
        margin: 2em 0;
    }

    nav .nav-links {
        flex-direction: row;
        justify-content: flex-end;
        margin: 2em 0;
    }

    nav .nav-links li {
        margin-top: 15px;
        background-color: white;
        text-align: end;
    }

    .main {
        width: calc(60% - 20px);
        float: left;
        margin-right: 2em;
    }

    .sub-section {
        width: calc(40% - 20px);
        float: left;
    }

    footer {
        display: block;
        position: fixed;
        bottom: 0;
    }

    footer #social-media-links {
        position: absolute;
        bottom: .5em;
        right: 1em;
    }
}