body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message {
    padding: 8px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin: 8px;
}

.message-info {
    color: #0a3d92;
    background-color: #c6d7f6;
}

.message-success {
    color: #0f6e2e;
    background-color: #c8ebd3;
}

.message-warning {
    color: #9b940e;
    background-color: #f4f2c3;
}

.message-error {
    color: #960b17;
    background-color: #f1cdd0;
}