body {
    font-family: "Noto Sans JP", sans-serif;
    text-align: center;
    background-color: dimgray;
    background-image: url("../img/Space-Stars-Black-Background.gif");
    /*background-repeat: no-repeat;*/
    background-size: 100%, 100%;
    /*overflow: scroll;*/
}

h1 {
    text-align: center;
}

ul {
    list-style-image: url("../img/arrow-right.jpeg");
    list-style-position: inside;
    padding: 0;
}

/*ul>li{*/
/*    list-style: none;*/
/*}*/
/*ul>li::before{*/
/*    content: '';*/
/*    display: inline-block;*/
/*    height: 1em;*/
/*    width: 1em;*/
/*    background-image: url("../img/arrow-right.jpeg");*/
/*    background-size: contain;*/
/*    background-repeat: no-repeat;*/
/*}*/

ol {
    list-style: georgian inside;
    padding: 0;
}

table {
    border: thin solid lightblue;
    border-collapse: collapse;
}
th, td {
    border: 1px dotted lightblue;
    padding:7.5px 40px;
    text-align: center;
}

.fancy-header {
    color: cornflowerblue;
    text-decoration: underline;

}

.special {
    font-size: 18px;
    color: lightblue;
    margin-left: auto;
    margin-right: auto;
}

header>p {
    color: lavender;
}

a:link {
    color: red;
}

a:visited {
    color: green;
}

a:hover {
    color: chocolate;
}

a:active {
    color: goldenrod;
}
